/*** channels ***/

.channels__container::-webkit-scrollbar {
	width: 12px;
}

.channels__container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.channels__container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

///*** new-product movie description ***/

.new-product__movie-description::-webkit-scrollbar {
	width: 12px;
}

.new-product__movie-description::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
	border-radius: 10px;
}

.new-product__movie-description::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

///*** "slide" movie ***/

.new-product__flexbox::-webkit-scrollbar {
	height: 0;
}

.new-product__flexbox::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
	border-radius: 10px;
}

.new-product__flexbox::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}
