.popup-card__category {
	width: 100%;
	background: $color-background--popup-card-category;
	color: $color-text--white;
	text-align: center;
	font-family: 'RM';
	font-size: $size-font--28;
	padding: 1rem;
	margin-top: -2px;
}

