.no-border-button {
	background: inherit;
	color: $color-text--no-border-button;
	font-family: "RM";
	font-size: $size-font--16;
	line-height: 1.1875rem;
	width: 3.125rem;
	height: 1.1875rem;
}
